tr {
    height: 10rem;
}

td {
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;*/
    width: 10%;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

td:hover {
    background-color: aliceblue;
}

#C3 {
    pointer-events: none;
}